.footer_container {
    background-color:#2a3b4d;
    padding: 30px 20px;
    text-align: center;
    color: rgb(182, 179, 179);
    margin-top: 50px;
}
.icons i{
    font-size: 30px;
    color: #fff;
}